// /* Main Container */

.main-wrap--hide {
    // opacity: 0;
    opacity: 1;
    transform: scale3d(0.8,0.8,1);
    filter: blur(5px);
}

.main-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*Transition Effects*/
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.1);

    .main-container {
        height: 100vh;
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;
        overflow: hidden;

        .main {
            // -ms-flex: 1;
            // -webkit-box-flex: 1;
            // -moz-box-flex: 1;
            // -ms-box-flex: 1;
            // box-flex: 1;
            overflow: auto;
            width: calc(100% - #{$navbar-width});
            background: #fff;
            background: $player-background;
        }
    }
}
