*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    margin: 0;
    background: #282b2f;
    background: #fff;
    background:#eb3349;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.play-button-hide{
  opacity:0;
}

.minima-container{
  width: 80%;
  max-width: 950px;
  overflow-x: hidden;
  margin: 0 auto;
  padding-top: 50px;
}
