<div class="minima-container">
    <div class="dock-container">
        <img class="dock-container--logo" src="assets/img/logo_full.png" />
        <span class="dock-container--welcome">Welcome to Video. Player</span>
        <p class="dock-container--description">
            This is an app exhibiting html5 video usage and utilizing the HLS library, found <a href="https://github.com/video-dev/hls.js" target="_blank">here</a>. To start either click the button below to view <i>"Big Buck Bunny"</i> or click on the search icon, paste a url and hit enter.
        </p>
        <button class="btn btn-play-video" ng-click="vm.dom.playVideo()">Play Big Buck Bunny</button>
    </div>
</div>
