<div class="">
    <main class="main-wrap" ng-class="{ 'main-wrap--hide': appConfigs.searchOpen }">
        <div class="main-container">
            <div class="nav">
              <div class="nav-container">
                <div class="nav-item" ui-sref="app.base.dock">
                    <img class="logo-nav" src="assets/img/logo_white.png" />
                </div>

                <div class="nav-item">
                    <button ui-sref="app.base.dock">
                        <i class="fi flaticon-home"></i>
                        <span class="nav-item--title">Home</span>
                    </button>
                </div>
                <div class="nav-item">
                    <button ng-click="appConfigs.searchOpen = !appConfigs.searchOpen">
                        <i class="fi flaticon-search"></i>
                        <span class="nav-item--title">Search</span>
                    </button>
                </div>
                <div class="nav-item">
                    <button ng-click="unavailableNotification();">
                        <i class="fi flaticon-user"></i>
                        <span class="nav-item--title">My Profile</span>
                    </button>
                </div>
                <div class="nav-item">
                    <button ng-click="unavailableNotification();">
                        <i class="fi flaticon-stopwatch"></i>
                        <span class="nav-item--title">History</span>
                    </button>
                </div>
                <div class="nav-item settings-button">
                    <button ng-click="unavailableNotification();">
                        <i class="fi flaticon-cogwheel"></i>
                    </button>
                </div>
              </div>
            </div>
            <div class="main" ui-view>

            </div>
        </div>
    </main>
    <search-box is-open="appConfigs.searchOpen"></search-box>
</div>
