/* Search Component */

$top-search-height: 30%;
$top-search-bg: rgba(248,55,69,0.8);
$bottom-search-height: 70%;
$bottom-search-bg: rgba(25,28,31,0.8);

$navbar-width: 250px;
$player-background: #1b1b1b;
