    /*
    Flaticon icon font: Flaticon
    Creation date: 21/05/2017 14:34
    */

    @font-face {
  font-family: "Flaticon";
    src: url("./assets/fonts/videoplayer/Flaticon.eot");
  src: url("./assets/fonts/videoplayer/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/videoplayer/Flaticon.woff") format("woff"),
       url("./assets/fonts/videoplayer/Flaticon.ttf") format("truetype"),
       url("./assets/fonts/videoplayer/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./assets/fonts/videoplayer/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-stopwatch:before { content: "\f102"; }
.flaticon-ribbon:before { content: "\f103"; }
.flaticon-share:before { content: "\f104"; }
.flaticon-hands:before { content: "\f105"; }
.flaticon-like:before { content: "\f106"; }
.flaticon-full-screen:before { content: "\f107"; }
.flaticon-gear:before { content: "\f108"; }
.flaticon-cogwheel:before { content: "\f109"; }
.flaticon-hourglass:before { content: "\f10a"; }
.flaticon-search:before { content: "\f10b"; }
.flaticon-settings:before { content: "\f10c"; }
.flaticon-sound:before { content: "\f10d"; }

    $font-Flaticon-home: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-stopwatch: "\f102";
    $font-Flaticon-ribbon: "\f103";
    $font-Flaticon-share: "\f104";
    $font-Flaticon-hands: "\f105";
    $font-Flaticon-like: "\f106";
    $font-Flaticon-full-screen: "\f107";
    $font-Flaticon-gear: "\f108";
    $font-Flaticon-cogwheel: "\f109";
    $font-Flaticon-hourglass: "\f10a";
    $font-Flaticon-search: "\f10b";
    $font-Flaticon-settings: "\f10c";
    $font-Flaticon-sound: "\f10d";
