.dock-container {
    display: flex;
    flex-direction: column;

    .dock-container--logo {
        width: 250px;
        margin: auto;
    }

    .dock-container--welcome {
        font-weight: 200;
        color: #fff;
        font-size: 34px;
        text-align: center;
        margin-top: 55px;
    }

    .dock-container--description {
        color: #abaaaa;
        font-size: 21px;
        font-weight: 200;
        line-height: 40px;
        text-align: justify;
        font-family: 'Open Sans';

        a {
            color: #4a8df8;
        }
    }

    .btn-play-video {
        display: inline-block;
        padding: 20px 75px;
        border-width: 0;
        font-size: 20px;
        border-radius: 100px;
        letter-spacing: -0.02em;
        transition: all 0.2s ease;
        position: relative;
        color: #fff;
        background-image: linear-gradient(225deg, #df3f3a 0%, #eb3349 100%);
        text-decoration: none;
        margin: auto;
        font-weight: 200;
        font-family: 'Open Sans';
    }
}
