$play-button-size: 100;
$play-button-size-small: 18;
$play-button-color: rgba(255,255,255,0.8);
$controls-height: 55;
$progress-bar-height: 2px;
$progress-accent: #e53842;
$progress-fill-color: rgba(255,255,255,0.5);

.player-master-container {
    background: $player-background;

    .search-trigger-input {
        font-size: 35px;
        line-height: 1;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 0 0 0.1em;
        color: inherit;
        border: 0;
        background: transparent;
        border-radius: 0;
        -webkit-appearance: none;
        font-family: 'Open Sans';
        font-weight: 100;
        margin-bottom: 60px;
        border-bottom: 2px solid $progress-accent;
        color: #fff;

        &:active,
        &:focus {
            outline: none;
        }
    }
}

.video-container {
    width: 100%;
    margin: 0;
    min-height: 530px;
    background: black;
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    &.full-screen {
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
        height: 100vh;
        margin-top: 0;
    }

    .video-instance {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .video-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: all 0.3s;
        opacity: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        .video-overlay--source {
            position: absolute;
            bottom: #{$controls-height + $progress-bar-height + 3 };
            width: auto;
            height: auto;
            right: 46px;
            background: rgba(33, 33, 33, 0.5);
            z-index: 2;
            display: flex;
            flex-direction: column;
            padding: 2px 0;
            border-radius: 5px;
            transition: transform 0.2s ease-in-out;
            transform: scale(0);

            &.show {
                transform: scale(1);
            }

            .source-btn {
                width: 100%;
                background: transparent;
                font-family: 'Open Sans', sans-serif;
                color: #fff;
                outline: none;
                border: none;
                text-transform: uppercase;
                font-size: 10.5px;
                letter-spacing: 0;
                font-weight: 600;
                padding: 11px 30px;

                &.active,
                &:hover {
                    // background: rgba(255,255,255,0.5);
                    color: $progress-accent;
                }
            }
        }

        .video-time-indicator {
            width: 100%;
            height: $progress-bar-height;
            background: $progress-fill-color;
            display: flex;
            align-self: flex-end;
            margin-top: auto;

            .video-time-indicator--fill {
                width: 0;
                background: $progress-accent;
                height: $progress-bar-height;
            }
        }

        .video-overlay--controls {
            width: 100%;
            height: #{$controls-height}px;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#1affffff', endColorstr='#333333',GradientType=0 );
            display: flex;
            align-self: flex-end;
            margin-top: auto;

            .video-overlay--controls--left,
            .video-overlay--controls--right {
                display: flex;
                height: 100%;
                flex: 0 1 50%;
                max-width: 50%;
                align-items: center;
            }

            .video-overlay--controls--right {
                justify-content: flex-end;
            }

            .video-overlay--controls--left {
                .time-ellapsed-cont {
                    margin-left: 14px;

                    span {
                        color: $play-button-color;
                        font-size: 12px;
                        letter-spacing: 0;
                    }
                }
            }

            i {
                color: $play-button-color;
                font-size: 20px;
                padding: 0 20px;
                cursor: pointer;
            }
        }

        .video-overlay--play {
            display: flex;
            flex-grow: 1;
        }
    }

    &:hover > .video-overlay {
        opacity: 1;
    }
}

.play-button {
    height: #{$play-button-size}px;
    width: #{$play-button-size}px;
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative;
    outline: none !important;

    &.small {
        height: #{$play-button-size-small}px;
        width: #{$play-button-size-small}px;
        margin: auto 0 auto 20px;

        .triangle-1,
        .triangle-2 {
            border-right: #{$play-button-size-small}px solid transparent;
            border-top: #{$play-button-size-small / 2}px solid $play-button-color;
            border-bottom: #{$play-button-size-small / 2}px solid $play-button-color;
        }
    }
}

.left {
    height: 100%;
    float: left;
    background-color: $play-button-color;
    width: 36%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    overflow: hidden;
    opacity: 1;
}

.right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: $play-button-color;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    opacity: 1;
}

.triangle-1 {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.triangle-2 {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: #{$play-button-size}px solid transparent;
    border-top: #{$play-button-size / 2}px solid $play-button-color;
    border-bottom: #{$play-button-size / 2}px solid $play-button-color;
    //   border-right: 100px solid transparent; // border-top: 50px solid white; // border-bottom: 50px solid white;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.paused .left {
    width: 50%;
    opacity: 0;
}

.paused .right {
    width: 50%;
    opacity: 0;
}

.paused .triangle-1 {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.paused .triangle-2 {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.video-info {
    margin-top: 25px;

    .video-title {
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0;
        font-family: 'Lato';
    }

    .video-details {
        width: 100%;
        display: flex;
        align-self: flex-end;
        margin-top: auto;
        margin-top: 20px;

        .video-details--left,
        .video-details--right {
            display: flex;
            height: 100%;
            flex: 0 1 50%;
            max-width: 50%;
            align-items: center;
        }

        .video-details--left {
            .user-avatar {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 5px;
            }

            button {
                border: none;
                outline: none;
                background: transparent;
                margin: 0 5px;

                i {
                    color: #b9b8b8;
                    font-size: 29px;
                }
            }
        }

        .video-details--right {
            justify-content: flex-end;
            align-self: flex-start;

            .secondary-info {
                display: flex;
                flex-direction: column;

                .secondary-info--views {
                    text-align: right;
                    color: #6f6e6e;
                    font-family: 'Open Sans';
                    font-size: 30px;
                    font-weight: 200;

                    .views-label {
                        // text-transform: uppercase;
                        font-size: 24px;
                    }
                }

                .secondary-info--likes {
                    margin-top: 13px;
                    height: $progress-bar-height;
                    background: $progress-fill-color;
                    width: 200px;

                    .secondary-info--likes_fill {
                        height: 100%;
                        width: 50%;
                        background: $progress-accent;
                        display: block;
                    }
                }

                .secondary-info--thumbs {
                    margin-top: 13px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    span {
                        color: #efeeee;
                        font-size: 13px;
                        letter-spacing: 2px;
                        font-family: 'Open Sans';

                        i {
                            color: #efeeee;
                            font-size: 20px;
                            margin: auto 10px;
                        }
                    }
                }
            }
        }
    }
}

input[type=range] {
    margin: auto 0;
    outline: none;
    padding: 0;
    width: 105px;
    height: $progress-bar-height;
    background-color: $progress-fill-color;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $progress-accent), color-stop(100%, $progress-accent));
    background-image: -webkit-linear-gradient($progress-accent, $progress-accent);
    background-image: -moz-linear-gradient($progress-accent, $progress-accent);
    background-image: -o-linear-gradient($progress-accent, $progress-accent);
    background-image: linear-gradient($progress-accent, $progress-accent);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    // border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    align-self: center;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}
