<div class="video-container" ng-class="vm.dom.isFullScreen ? 'full-screen' : ''">
    <video id="video" class="video-instance" width="400"></video>
    <div class="video-overlay">
        <div class="video-overlay--play">
            <a class="play-button" ng-class="(vm.dom.playing) ? '': 'paused'" href="#" ng-click="vm.dom.playing = !vm.dom.playing">
                <div class="left"></div>
                <div class="right"></div>
                <div class="triangle-1"></div>
                <div class="triangle-2"></div>
            </a>
        </div>
        <div class="video-overlay--source" ng-class="vm.dom.showSource ? 'show' : ''">
            <button ng-repeat="item in vm.dom.availableQualities" class="source-btn" ng-class="(vm.dom.currentLevel == item.level) ? 'active' : ''" ng-click="vm.playerFns.changeQuality(item.level)" ng-bind="item.name"></button>
        </div>
        <div class="video-time-indicator">
            <div class="video-time-indicator--fill" style="width:{{( vm.dom.currentTime * 100 ) / vm.dom.videoDetails.totalLength }}%">

            </div>
        </div>
        <div class="video-overlay--controls">
            <div class="video-overlay--controls--left">
                <!-- <i class="pe-7s-play"></i> -->
                <a class="play-button small" ng-class="(vm.dom.playing) ? '': 'paused'" href="#" ng-click="vm.dom.playing = !vm.dom.playing">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div class="triangle-1"></div>
                    <div class="triangle-2"></div>
                </a>
                <i class="fi flaticon-sound"></i>
                <input type="range" min="0" max="100" value="50" ng-model="vm.dom.volumeControl">
                <div class="time-ellapsed-cont">
                    <span ng-bind="vm.playerFns.evaluateTime(vm.dom.currentTime)"></span>
                    <span>/</span>
                    <span ng-bind="vm.playerFns.evaluateTime(vm.dom.videoDetails.totalLength)"></span>
                </div>
            </div>
            <div class="video-overlay--controls--right">
                <i class="fi flaticon-gear" ng-click="vm.dom.showSource = !vm.dom.showSource"></i>
                <i class="fi flaticon-full-screen" ng-click="vm.dom.isFullScreen = !vm.dom.isFullScreen"></i>
            </div>
        </div>
    </div>
</div>
