<div class="player-master-container">
    <div class="minima-container">
        <div>
            <input class="search-trigger-input" placeholder="Search..." ng-focus="appConfigs.searchOpen = true" />
        </div>

        <!-- <div ng-include src="app/modules/player/player-component.html"></div> -->

        <div class="video-container" ng-class="vm.dom.isFullScreen ? 'full-screen' : ''">
            <video id="video" class="video-instance" width="400"></video>
            <div class="video-overlay">
                <div class="video-overlay--play">
                    <a class="play-button" ng-class="(vm.dom.playing) ? 'play-button-hide': 'paused'" href="#" ng-click="vm.dom.playing = !vm.dom.playing">
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="triangle-1"></div>
                        <div class="triangle-2"></div>
                    </a>
                </div>
                <div class="video-overlay--source" ng-class="vm.dom.showSource ? 'show' : ''">
                    <button ng-repeat="item in vm.dom.availableQualities" class="source-btn" ng-class="(vm.dom.currentLevel == item.level) ? 'active' : ''" ng-click="vm.playerFns.changeQuality(item.level)" ng-bind="item.name"></button>
                </div>
                <div class="video-time-indicator">
                    <div class="video-time-indicator--fill" style="width:{{( vm.dom.currentTime * 100 ) / vm.dom.videoDetails.totalLength }}%">

                    </div>
                </div>
                <div class="video-overlay--controls">
                    <div class="video-overlay--controls--left">
                        <!-- <i class="pe-7s-play"></i> -->
                        <a class="play-button small" ng-class="(vm.dom.playing) ? '': 'paused'" href="#" ng-click="vm.dom.playing = !vm.dom.playing">
                            <div class="left"></div>
                            <div class="right"></div>
                            <div class="triangle-1"></div>
                            <div class="triangle-2"></div>
                        </a>
                        <i class="fi flaticon-sound"></i>
                        <input type="range" min="0" max="100" value="50" ng-model="vm.dom.volumeControl">
                        <div class="time-ellapsed-cont">
                            <span ng-bind="vm.playerFns.evaluateTime(vm.dom.currentTime)"></span>
                            <span>/</span>
                            <span ng-bind="vm.playerFns.evaluateTime(vm.dom.videoDetails.totalLength)"></span>
                        </div>
                    </div>
                    <div class="video-overlay--controls--right">
                        <i class="fi flaticon-gear" ng-click="vm.dom.showSource = !vm.dom.showSource"></i>
                        <i class="fi flaticon-full-screen" ng-click="vm.dom.isFullScreen = !vm.dom.isFullScreen"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="video-info">
            <div class="video-title">
                Lorem Ipsum
            </div>
            <div class="video-details">
                <div class="video-details--left">
                    <img src="assets/img/user-avatar.jpg" class="user-avatar" />
                    <button>
                      <i class="fi flaticon-ribbon"></i>
                  </button>
                    <button>
                    <i class="fi flaticon-share"></i>
                  </button>
                </div>
                <div class="video-details--right">
                    <div class="secondary-info">
                        <span class="secondary-info--views">16.5k <span class="views-label">views</span></span>
                        <div class="secondary-info--likes">
                            <span class="secondary-info--likes_fill"></span>
                        </div>
                        <div class="secondary-info--thumbs">
                            <span><i class="fi flaticon-like"></i>95k</span>
                            <span><i class="fi flaticon-hands"></i>25k</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="minima-container">
    abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam
    id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no. Ex soleat habemus usu, te nec eligendi deserunt vituperata. Natum consulatu vel ea, duo cetero repudiare efficiendi cu. Has at quas nonumy facilisis, enim percipitur
    mei ad. Mazim possim adipisci sea ei, omnium aeterno platonem mei no. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum. Dolorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Audiam virtute ut, case
    utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum. Eligendi deserunt vituperata. Natum consulatu vel ea, duo cetero repudiare efficiendi cu. Has at quas nonumy facilisis, enim percipitur mei ad. Mazim possim adipisci sea ei, omnium aeterno
    platonem mei no. Ut enim ad mini
</div> -->
