.nav {
    background: #df3f3a;
    background: -moz-linear-gradient(top, #df3f3a 0%, #eb3349 100%);
    background: -webkit-linear-gradient(top, #df3f3a 0%,#eb3349 100%);
    background: linear-gradient(to bottom, #df3f3a 0%,#eb3349 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#df3f3a', endColorstr='#eb3349',GradientType=0 );
    width: $navbar-width;
    -ms-flex: 0 $navbar-width;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    justify-content: center;

    .nav-container {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .settings-button {
            margin-top: auto;
        }

        .logo-nav {
            width: 50%;
        }

        .nav-item {
            text-align: center;
            padding: 30px;

            button {
                border: none;
                outline: none;
                background: transparent;

                i {
                    color: #fff;
                    font-size: 29px;
                }

                &:active,
                &:focus {
                    outline: none;
                    border: none;
                }

                .nav-item--title {
                    display: block;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    margin-top: 8px;
                    color: #f5b5b7;
                }
            }
        }
    }
}
